@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');



*::selection{
    background-color: rgb(155, 218, 55); /* 6deb56*/
    color: #fff;
}

body{
    height: auto;
    border: 0;
    margin: 0;
    background-color: #f9f9f9;
}

.upper_container{
    width: 90%;
    height: 7vh;
    background-color: ;
    margin: 0 auto;
    padding: 2vh 0.5vw;
}
.upper_conatiner_p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.4vh;
    font-weight: 300;
    width: auto;
    background-color: ;
}
.upper_conatiner_p_top{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.4vh;
    font-weight: 300;
    width: auto;
    padding-top: 0vh;
    padding-left: 5vw;
    background-color: ;
}
.upper_conatiner_p > b{
    color: #1c73d6;
}
.upper_conatiner_p_top > b{
    color: #1c73d6;
}
.upper_conatiner_p:hover > b{
    color: #1c73d6;
    transition: 0.3s;
    text-decoration: underline;
}

.output_outer_container{
    height: auto;
    width: 100%;
}
.output_holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    flex-direction: column;
}

/* added*/



.show_similar_part{
    height: 5vh;
    background-color: red;
}

/* end */

.output{
    width: 85%;
    height: auto;
    background-color: #f8f8f8;
    padding: 4vh 3vw;
    border-radius: 0.3rem;
    border: 0.5px solid #ebebeb;
    display: grid;
    grid-template-columns: 5% 65% 30%;
    transition: 0.3s;
    grid-gap: 2%;
}
.output:hover{
    
    border: 0.5px solid #c9c9c9;
}
.file_extension_ico{
    background-color: ;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.img_holder{
    background-color: ;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}
.file_extension_ico > .img_holder > img{
    height: 6.5vh;
    width: 6.5vh;
    margin: 0 auto;
    background-color: ;
    padding: 1vh 1vh;
}

.text{
    display: grid;
    grid-gap: 0vh;
}
.heading{
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    height: auto;
    font-weight: 300;
    padding: 1vh 0vw;
    font-size: 2.25vh;
}

.original_text{
    font-size: 2vh;
    color: #333333;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    
    height: auto;
    width: 90%;
    padding: 1vh 0.5vw;
}
.tags{
    font-size: 2.25vh;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    
    font-weight: 300;
    height: auto;
    width: 90%;
    padding: 1vh 0.5vw;
}

.summary{
    padding: 0vh 2vw;
    color: #333333;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    border-left: 1px solid #c4c4c4;
    font-weight: 300;
    font-size: 2vh;
    text-align: center;
}
/*
.summary:hover{
    color: #000000;
    transition: 0.2s;
}*/

.tag_container{
    display: grid;
    grid-template-columns:  8% auto;
}
.the_tag > li{
    list-style: none;
    background-color: #b1f14a33;; /*fff388ad*/
    padding: 1vh 2vh;
    margin-top: 0.5vh;
    margin-right: 0.5vw;
    color: #4b4b4b;
    border-radius: 0.3rem;
    border: 0.5px solid rgb(191, 238, 114);; /*ffee53*/
    font-weight: 300;
    transition: 0.3s;
    font-size: 2vh;
}
.the_tag > li:hover{
    border: 0.5px solid rgb(141, 201, 46);; /*f1df36*/
    background-color: rgb(163, 223, 68);; /*ffe25f*/
    font-weight: 300;
    color: #ffffff;
}
.the_tag{
    display: inline-block;
}


.myclassname{
    border: none;
    background-color: #f7f7f7;
    font-size: 2.3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: left;

}
.myclassname span{
    transition: 0.2s;
}
.myclassname:hover span{
    text-decoration: underline;
    color: rgb(145, 201, 57);
}

.thehiddenforminput{
    display: none;
}


/* show similar starts */

.theInput{
    display: none;
}

.show_similar_holder{
    padding: 2vh 0;
}

.submitButton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    background-color: #eeffc8; /*acee42*/
    padding: 1vh 2vh;
    color: #616161;
    border: none;
    font-weight: 500;
    border-radius: 0.3rem;
    border: 2px solid #d8ff9a; /*9bd63b*/
    transition: 0.3s;
}
.submitButton:hover{
    background-color: #a6e443;
    color: #ffffff;
    font-weight: 500;
    border: 2px solid #9fe037;;
}

.show_similar_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: ;
    background-color: #000000cb;
    z-index: 20;
    width: 100%;
    transition: 0.5s;
    display: none;
    animation-name: filteropen;
    animation-duration: 0.3s;
    border-bottom: 0vh solid #000000cb;
}

.close_overlay{
    display: grid;
    grid-template-columns: 80% 20%;
    margin: auto;
    background-color: ;
    width: 90%;
    height: auto;
    padding: 3vh 0 0vh 0;
}
@keyframes filteropen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.button_holder{
    
}

.close_overlay_button{
    float: right;
    height: 6vh;
    width: 6vh;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: #252525e0;
    border: 0.5px solid #525252;
    color: #ffffff;
    margin: 3vh 0;
    font-size: 4vh;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.close_overlay_button:hover{
    background-color: #3b3b3b;
    border: 0.5px solid #5a5a5a;
}

.close_overlay_icon{
    height: 1vw;
    width: 1vw;
    transition: 0.5s;
}
.title_holder{
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 4vh 0 1vh 0;
    font-weight: 500;
    color: #eeeeee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.show_similar_span{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    padding: 0 0 0 1vh;
    transition: 0.3s;
    font-weight: 300;
}
.show_similar_span:hover{
    text-decoration: underline;
    color: #ffffff;
}



/* show similar ends */






/* footer starts */

.footer_old{
    height: 70vh;
    width: 100%;
    background-color: #1C272B;
}

.upper_arrow{
    height: 4vh;
    width: 7vw;
    background-color: #101010;
    margin: 0 auto;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    border: none;
}
.footer{
    border: none;
    height: 85vh;
    background-color: #101010;
    display: grid;
    grid-template-rows: 88% 7% 5%;
}
.middle_footer{
    background-color: ;
    text-align: right;
    padding: 0 3vw;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 2vh;
}
.middle_footer span{
    color: #F5949F;
}
.lower_footer{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.lower_footer div{
    
}
.lower_footer div:nth-child(1){
    height: 4.25vh;
    width: 16.67%;
    background-color: #F8AA9C;
}
.lower_footer div:nth-child(2){
    height: 4.25vh;
    width: 16.67%;
    background-color: #F26081;
}
.lower_footer div:nth-child(3){
    height: 4.25vh;
    width: 16.67%;
    background-color: #D36AC8;
}
.lower_footer div:nth-child(4){
    height: 4.25vh;
    width: 16.67%;
    background-color: #8F84D9;
}
.lower_footer div:nth-child(5){
    height: 4.25vh;
    width: 16.67%;
    background-color: #4FACFB;
}
.lower_footer div:nth-child(6){
    height: 4.25vh;
    width: 16.67%;
    background-color: #61DA95;
}


.upper_footer{
    display: grid;
    grid-template-columns: 60% 40%;
}
.left_part{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 10vh 12vh;
}
.need_help{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vh;
    font-weight: 600;
}

.contact_us{
    font-family: 'Oswald', sans-serif;
    color: rgb(184, 184, 184);
    text-transform: uppercase;
    margin: 2vh 0;
}
.share_email{
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
}
.share_email input{
    border-radius: 0;
    border: none;
    color: #e2e2e2;
    padding: 3vh 2vw;
    background-color: #111111;
    border: 0.5px solid #1f1f1f;
    transition: 0.3s;
    border-right: none;
    
}
.share_email input:focus{
    border: 0.5px solid #414141;
    border-right: none;
}
.share_email button{
    border-radius: 0;
    border: none;
    background-color: #FEFEFE;
    color: #1f1f20;
    padding: 0 2vw;
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    transition: 0.3s;
    border: 0.5px solid #1f1f1f;
    border-left: none;
}
.share_email button:hover{
    background-color: rgb(221, 221, 221);
    border-left: none;
    color: #1f1f20;
}
.right_part_outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_part{
    height: 30vh;
    background-color: ;
    border-left: 0.5px solid #616161;
}

.right_part ul{
    width: 13vw;
    display: flex;
    justify-content: space-evenly;
    background-color: ;
}
.right_part ul li{
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vh;
    color: rgb(255, 255, 255);
    font-family: 'DM Mono', monospace;
}


.right_part ul li a img{
    height: 4vh;
    width: 4vh;
}


/* footer ends */




.trial{
    color: #fff;
}
